body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0; /* Tło strony */
}

.image-container {
    position: relative; /* Umożliwia pozycjonowanie względne dla dziecka */
}

img {
    width: 100%; /* Dopasowuje obraz do szerokości kontenera */
    height: auto; /* Utrzymuje proporcje obrazu */
    display: block;
}

.clock-container {
    position: absolute; /* Pozycjonowanie w stosunku do rodzica (image-container) */
    top: 160px; /* Odstęp od góry */
    left: 10px; /* Odstęp od lewej */
    color: gray; /* Kolor tekstu */
    font-family: Arial, sans-serif; /* Czcionka */
    font-size: 17px; /* Rozmiar czcionki */
    padding: 5px;
    border-radius: 5px; /* Zaokrąglenie rogów */
    z-index: 10; /* Ustala kolejność nakładania */
}

